@charset "utf-8";
body {
    background-image: url(../img/bg.png);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    opacity: 1;
    position: relative;
    z-index: 0;
}
.container {
    text-align: center;
    opacity: 1;
    position: relative;
    z-index: 1;

}

.TOP {
    height: 500px;

}
.nav {
    position: fixed;
    text-align: right;
    right: 0px;
    display: block;
    background-color: rgba(255,255,255,0.25);
    height: 40px;
    opacity: 1;
    z-index: 2;
    -webkit-box-shadow: 0px 1px 5px 1px rgba(100,142,193,0.77);
    box-shadow: 0px 1px 5px 1px rgba(100,142,193,0.77);
}

ul   {
    text-align: right;
    padding-right: 0px;
    height: 40px;
}
ul li   {
    width: 100px;
    height: 30px;
    display: inline-block;
    text-align: center;
    font-family: "微軟正黑體", "標楷體", "新細明體", "細明體";
    text-decoration: none;
    /* [disabled]text-shadow: 1px 1px 2px #6089C2; */
    position: relative;
    padding: 0px;
    line-height: 40px;
}


ul li a:link {
    width: 80px;
    height: 30px;
    text-decoration: none;
    display: inline-block;
    color: #FFFFFF;
    font-size: 15px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
}
ul li a:visited {
    color: #2D3E7B;
}
ul li a:hover {
    color: #3C54B4;
}
#introduction {
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 350px;
}

.while-bg {
    height: auto;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.16);
    -webkit-box-shadow: 0px 1px 5px rgba(13,67,151,0.81);
    box-shadow: 0px 1px 5px rgba(13,67,151,0.81);
    width: auto;
    margin-left: auto;
    margin-right: auto;

}
.p-block {
    line-height: 120px;
}

.p-title {
	font-size: 25px;
	color: #FFFFFF;
	font-family: "微軟正黑體", "標楷體";
	font-weight: bolder;
	line-height: 40px;
	position: relative;
	top: 30px;
	text-align: left;
	bottom: 5px;
}
.p-in {
	font-family: "微軟正黑體", "標楷體";
	color: #FFFFFF;
	font-weight: bold;
	line-height: 30px;
	position: relative;
	top: 20px;
	text-align: left;
	padding-bottom: 50px;
	padding-right: 15px;
}

.img-center {
    margin: auto;
    text-align: center;
}
.img-lit {
	line-height: 160px;
}
.img-heart {
    line-height: 160px;
}



.content {
    width: 900px;
    border: none;
    height: 600px;
}
.space{
    margin-top: 350px
}

#ORG {
	height: 100px;
}



.space-1{
	margin-top: 50px
}
.space-5{
	height: 100px;

}

.org-title {
    color: #FFFFFF;
    font-family: "微軟正黑體", "標楷體";
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: left;
}
.org-title2 {
    color: #FFFFFF;
    font-family: "微軟正黑體", "標楷體";
    font-weight: bolder;
    font-size: 35px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px #536181;
    text-align: left;
    padding-left: 80px;
}
.org-p {
    color: #FFFFFF;
    font-family: "微軟正黑體", "標楷體";
    font-weight: bold;
    width: 800px;
    height: 100px;
    margin-left: auto;
    margin-right: auto

}
.space-2{
    margin-top: 25px;
    margin-bottom : 30px
}
.space-3{
    margin-bottom : 20px;
    margin-left: 120px
}

.card-in {
    text-align: center;
}
.h5 {
    font-family: "微軟正黑體", "標楷體";
    font-weight: bolder;
    color: #FFFFFF;
}

.card-p {
    color: #FFFFFF;
    font-family: "微軟正黑體", "標楷體";
    font-weight: bold;
}


.btn-space {
    margin-right: 5px;
}
.btn-fb {
    width: 38px;
    height: 38px;
    /* [disabled]border: 1.5px solid #FFFFFF; */
    background-color: #007BFF;
    text-align: center;
    background-image: url(../img/fb-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-position: 60% 56%;
}
.btn-ig {
    border: 1.5px solid #B12DD1;
    background-color: #B12DD1;
    color: #FFFFFF;
    background-image: url(../img/ig-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 40% 0%;
    width: 38px;
    border-radius: 10px;
    height: 38px;
}

.btn-mail {
    background-image: url(../img/mail-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 38px;
    border-radius: 10px;
    height: 38px;
}
.btn-ig:hover {
    border: 1px solid #B12DD1;
    background-color: #9D17BD;
}
.gotop {
    z-index: 2;
    position: fixed;
    text-align: right;
    height: 40px;
    padding-right: 50px;
    right: 0px;
    display: block;
    opacity: 1;
}
.btn-top {
    z-index: 2;
    opacity: 1;
    background-image: url(../img/top.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    padding-right: 80px;
    border-radius: 10px;
    color: #FFFFFF;
    position: fixed;
    right: 20px;
    border: 0px solid;
    top: 87%;
}


.footer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    font-size: medium;
    font-family: "微軟正黑體", "標楷體";
}
.icon {
	text-align: center;
}
.col-12 .icon img {
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}
.icon .footer h4 {
    font-size: medium;
    margin-bottom: 0px;
}
.h4 {
    line-height: 50px;
    font-size: 20px;
}

.h4r {
    line-height: 20px;
}
.burger {
    text-align: right;
    position: fixed;
    right: 0px;
    display: block;
}
.nav-padding {
    padding-right: 0px;
    padding-left: 0px;
}
.P-title {
    font-size: xx-large;
    color: #FFFFFF;
    font-family: "微軟正黑體", "標楷體";
    font-weight: bolder;
    line-height: 40px;
    position: relative;
    text-align: left;
}
.P {
    font-family: "微軟正黑體", "標楷體";
    color: #FFFFFF;
    font-weight: bold;
    line-height: 30px;
    position: relative;
    text-align: left;
    padding-bottom: 50px;
    padding-right: 15px;
    font-size: large;
}
.section {
    margin-top: 50px;
    margin-left: 0px;
}
.sm-section {
    margin-top: 20px;
}
.p-section {
    padding-left: 80px;
}
.btn-section {
    position: relative;
    left: 80px;
}
.form-size {
    width: 500px;
    height: 200px;
}

#opinion {
    margin-left: -20px;
}
