@charset "utf-8";
body {
	background-color: rgba(0,0,0,1.00);
	color: rgba(255,255,255,1.00);
	font-family: vt323, "微軟正黑體 Light", "Arial Black";
	font-style: normal;
	font-weight: 400;
}
.container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.header {
    height: 150px;
    width: auto;
    background-image: url(../img/head.png);
    background-size: cover;
    background-position: center center;
    margin-top: 20px;
}
.header:hover {
    background-image: url(../img/head1.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}


.nav {
    text-align: right;
}
.ul {
    padding-right: 10px;

}
.ul li   , .a{
	display: inline-block;
	width: 90px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: large;
	text-decoration: none;
	background-position: right center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-right: 10px;
	-webkit-box-shadow: -3px 3px rgba(228,0,127,1.00);
	box-shadow: -3px 3px rgba(228,0,127,1.00);
	background-image: url(../img/nav-btn.png);
}
.a   {
    text-decoration: none;
    color: rgba(255,255,255,1.00);
}
.ul li   ,.a:hover {
    color: rgba(243,255,0,1.00);
    text-decoration: none;
    background-image: url(../img/nav-btn2.png);
    background-position: 70% center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: -3px 3px rgba(0,160,233,1.00);
    box-shadow: -3px 3px rgba(0,160,233,1.00);
}
.img {
    width: 300px;
    height: 300px;
    background-image: url(../img/my2.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.img:hover {
    background-image: url(../img/my1.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.furit {
    background-image: url(../img/furit.png);
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;
}
.furit:hover {
    background-image: url(../img/furit1.png);
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

.section {
    height: 50px;

}


.content {
    border: 10px double rgba(23,46,184,1.00);
    border-radius: 10px;
    height: 600px;
    width: 100%;
    padding-left: 15px;
    padding-top: 15px;
}
.ul2 {
    list-style-image: url(../img/arrow.png);
    text-align: left;

}
.ul-li2  {
    font-size: large;


}
.h1 {
    text-align: left;
    padding-left: 23px;
}
.sa {
    text-decoration: none;
    color: rgba(255,255,255,1.00);
    background-image: url(../img/nav-btn.png);
    background-size: cover;
    background-position: center center;
}
.sa:hover {
    color: rgba(255,241,0,1.00);
    text-decoration: none;
}
.grass {
    background-image: url(../img/grassweb.png);
    background-size: contain;
    background-position: center top;
    width: auto;
    height: 500px;
    background-repeat: no-repeat;
    margin-right: -60px;
}
.wine {
    background-image: url(../img/wine.png);
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    margin-left: -150px;
}
.owl {
    width: 100%;
    height: 500px;
    background-image: url(../img/owl.png);
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -90px;
    margin-left: 160px;
    margin-right: -70px;
}
.ice {
    width: 100%;
    height: 500px;
    background-image: url(../img/ice.png);
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    margin-top: -90px;
    margin-left: -150px;
}
.CD1 {
    background-position: center center;
    background-image: url(../img/CD1.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 700px;
    height: 500px;
    margin-top: -160px;
    margin-left: -20px;
}
